body {
    font-family: 'Lato', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}
nav {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
#Aboutme {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}