body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(reference.jpg);
}
h1{
    color: seagreen;
    font-size: 5em;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
li{
    color: blueviolet;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
}
p{
    color: blanchedalmond;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;

}
button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid purple;
    background: transparent;
    color: rgb(228, 12, 12);
    cursor: pointer;
    position: relative;
    overflow: hidden;

 }
 span{
    background: teal;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

 }
 button:hover span{
    width: 100%;
 }
.Next{
    padding-left: 70%;
    padding-top: 5%;
}